@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
    --primary-color: #14342B;
    --secondary-color: #1C448E;
    --accent1-color: #BBDFC5;
    --accent2-color: #ABB6D8;

    --heading-font: "Orbitron", serif;
    --paragraph-font: "Inter Tight", serif;

    --nav-background-color: #14342B;
    --nav-link-color: #BBDFC5;
    --nav-hover-link-color:#1C448E;
    --nav-hover-background-color:#ABB6D8;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--accent1-color);
}

header img {
    width: 100px;
    margin: 10px;
}

header nav a {
    font-family: var(--heading-font);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 20px;
}

nav {
    display: flex;
}

body {
    width: auto;
}

div {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

h1 {
    background-color: #14342B;
    position: absolute;
    left: 250px;
}
article {
    display: block;
    position: absolute;
    top: 200px;
    left: 0;
}

article p {
    position: absolute;
    color: var(--primary-color);
    background-color: var(--accent2-color);
}

article img {
    width: 50px;
    height: auto;
    float: right;
}

article {
    display: flex;
}

p {
    font-family: var(--paragraph-font);
    padding: 25px;
}

footer p {
    font-family: var(--heading-font);
}

footer a {
    text-decoration: none;
}

footer img {
    width: 50px;
}