@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
    --primary-color: #14342B;
    --secondary-color: #1C448E;
    --accent1-color: #BBDFC5;
    --accent2-color: #ABB6D8;

    --heading-font: "Orbitron", serif;
    --paragraph-font: "Inter Tight", serif;

    --nav-background-color: #14342B;
    --nav-link-color: #BBDFC5;
    --nav-hover-link-color:#1C448E;
    --nav-hover-background-color:#ABB6D8;
}

/* header */
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: var(--accent1-color);
    align-items: center;
    font-family: var(--heading-font);
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

header img {
    width: 100px;
    justify-self: right;
}

.navigation {
	display: flex;
	list-style: none;
    margin: 30px;
}

.navigation li {
	flex: 1 1 100%;
	border: 1px solid var(--nav-background-color);
	text-align: center;
}

.navigation a {
	display: block;
	color: var(--nav-background-color);
	padding: 10px;
	text-decoration: none;
    background-color: var(--accent2-color);
    font-weight: 700;
}

.navigation a:hover {
	color: var(--nav-link-color);
    background-color: var(--nav-background-color);
	font-weight: 900;
	text-decoration: underline;
}

/* footer*/
footer {
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: var(--accent1-color);
    align-items: center;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

footer p {
    font-family: var(--heading-font);
    font-weight: 700;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    padding: 0.5rem;
	color: var(--nav-link-color);
    background-color: var(--nav-background-color);
	text-decoration: underline;
    border-radius: 25px 0px;
}

footer img {
    width: 30px;
}

/*-- General rules --*/
body {
    width: auto;
    background-color: var(--accent2-color);
}

/*-- About Us - about.html --*/
.hero {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

.hero img {
    width: 100%;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

.hero h1 {
    font-family: var(--heading-font);
    color: rgb(255, 136, 0);
    position: absolute;
    top: 10%;
    text-shadow: 3px 3px 1px var(--primary-color);
    font-weight: 900;
}

.hero article {
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    min-width: 400px;
    max-width: 800px;
    position: absolute;
    background-color: var(--accent1-color);
    opacity: .9;
    font-weight: 700;
}

.hero article p {
    padding: 1rem;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

div .hero-employee {
    padding: 1rem;
    width: 150px;
    height: auto;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

/*-- History about us --*/

.history {
    background-color: var(--accent1-color);
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

.history-content {
    margin: 1rem;
    padding: 0 2rem;
    display: flex;
    flex: 1 1 100%;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}
 
.history-content img {
    padding: 2rem;
    min-width: 200px;
    height: auto;
}   

/*-- Adventure awaits --*/

.adventure {
    background-color: var(--accent1-color);
    align-items: center;
    margin: 1rem auto;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

.history h2, .adventure h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

.adventures {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.adventures img {
    width: 100px;
    height: auto;
}

/*-- contact.html --*/

/*-- hero - info/location --*/
.hero-contact-us {
    background-color: var(--accent1-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    max-width: 100%;
    height: auto;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

.info h1 {
    font-family: var(--heading-font);
    position: relative;
    color: var(--primary-color);
    text-shadow: none;
}


address p {
    margin: 50px 0;
    font-family: var(--paragraph-font);
}

/*-- our people --*/

.happy-employees {
    background-color: var(--accent1-color);
    align-items: center;
    margin: 1rem auto;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

.employees {
    display: flex;
    justify-content: space-around;
}

.employees img {
    width: 188px;
    height: auto;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

figcaption {
    text-align: center;
    font-family: var(--paragraph-font);
}

/*-- Contact Us form --*/

form {
    font-family: var(--paragraph-font);
    width: auto;
    margin: 1rem auto;
}

.contact-form {
    background-color: var(--accent1-color);
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
}


/*-- trips.html --*/

.container-trips {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent1-color);
    margin: 1rem auto;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

.call-to-action-contact {
    position: sticky;
    top: 70px;
    padding: 0 0.75rem;
    text-align: center;
    background-color: var(--accent2-color);
    font-family: var(--heading-font);
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
    z-index: 2;
}

.call-to-action-contact a:hover {
	color: var(--nav-link-color);
    background-color: var(--nav-background-color);
	font-weight: 700;
	text-decoration: underline;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

.trip-description {
    margin-bottom: 2rem;
}

.trip-description article {
    display: flex;
    margin: 1rem;
}

.trip-description h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin: 1rem;
}

.trip-description p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    margin: 1rem;
}

.trip-description img {
    margin: 1rem;
    width: 400px;
    height: auto;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

/*-- trips table --*/

.trip-table table {
    margin: 1rem auto;
    border-collapse: collapse;
}

.trip-table th, .trip-table td {
    padding: 1rem;
    border: 2px solid var(--nav-background-color);
    text-align: center;
}

.trip-table th {
    background-color: var(--accent2-color);
    color: var(--nav-background-color);
}

/*-- home.html --*/

.hero-home {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-video {   
    top: 50%;
    left: 50%;
    margin: auto;
}

.call-to-action-trips {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
    background-color: var(--accent2-color);
    color: var(--primary-color);

}

.call-to-action-trips a:hover {
	padding: 0.75rem;
	color: var(--accent1-color);
    background-color: var(--nav-background-color);
	font-weight: 700;
	text-decoration: underline;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-family: var(--heading-font);
    font-weight: 900;
    text-decoration: none;
}

/*-- popular trips --*/

.most-popular-trips {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
    text-align: center;
    margin: 1rem auto;
    width: 100%;
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

.top-trips {
    display: flex;
    align-items: flex-start;
}

.top-trips-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: var(--paragraph-font);
    padding: 1rem;
}

.top-trips-description img {
    border-radius: 25px 0px;
    box-shadow: 4px 4px 1px black;
}

/*-- home subscribe form --*/

.hero-home {
    display: flex;
}

.newsletter {
    font-family: var(--paragraph-font);  
    border: 2px solid var(--nav-background-color);
    background-color: var(--accent1-color);
    max-width: 300px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 25px 0px;
}

.newsletter-form h3, .newsletter-form p {
    text-align: center;
}

.form-subscribe {
    width: auto;
}

.form-subscribe input[type="text"],
.form-subscribe input[type="email"] {
    width: 100%;
}
