@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Inter Tight";
    font-weight: 400;
}

h1,h2,h3,h4 {
    font-family: "Inter Tight";
    font-weight: 900;
    font-style: italic;
}